.version.trupe_de_choque /* version checker */
{
	color: #0000ED;
	background-color: #633FC3;
}

.html
{
	background: #7F7F7F url("../images/pattern8.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 767.0439024390244px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/background_02.png") no-repeat left top;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 1px;
	width: 0.01px;
}

#pu659
{
	width: 0.01px;
	padding-bottom: 5px;
	margin-left: 6px;
}

#u659
{
	z-index: 41;
	width: 373px;
	margin-right: -10000px;
	left: 565px;
}

#u972
{
	z-index: 43;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 85px;
}

#u973
{
	z-index: 44;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 32px;
}

#u979
{
	z-index: 45;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 59px;
}

#u980
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 7px;
}

#pu127
{
	width: 0.01px;
	margin-left: 482px;
	margin-top: -7px;
}

#u127
{
	z-index: 2;
	width: 585px;
	margin-right: -10000px;
}

#menuu139
{
	z-index: 4;
	width: 468px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 55px;
}

#u140
{
	width: 54px;
	min-height: 34px;
	margin-right: -10000px;
}

#u141
{
	width: 54px;
	padding-bottom: 17px;
}

#u141:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u141.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u144-4_clip
{
	width: 49px;
	height: 17px;
}

#u172
{
	width: 58px;
	min-height: 34px;
	margin-right: -10000px;
	left: 56px;
}

#u173
{
	width: 58px;
	padding-bottom: 17px;
}

#u173:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u173.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u175-4_clip
{
	width: 54px;
	height: 17px;
}

#u200
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 116px;
}

#u201
{
	width: 86px;
	padding-bottom: 17px;
}

#u201:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u193
{
	width: 86px;
	min-height: 34px;
	margin-right: -10000px;
	left: 204px;
}

#u194
{
	width: 86px;
	padding-bottom: 17px;
}

#u201.MuseMenuActive,#u194:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u194.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u204-4_clip,#u197-4_clip
{
	width: 82px;
	height: 17px;
}

#u186
{
	width: 94px;
	min-height: 34px;
	margin-right: -10000px;
	left: 292px;
}

#u187
{
	width: 94px;
	padding-bottom: 17px;
}

#u187:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u187.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u190-4_clip
{
	width: 90px;
	height: 17px;
}

#u179
{
	width: 80px;
	min-height: 34px;
	margin-right: -10000px;
	left: 388px;
}

#u180
{
	width: 80px;
	padding-bottom: 17px;
}

#u180:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u180.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u183-4_clip
{
	width: 76px;
	height: 17px;
}

#u144-4,#u175-4,#u204-4,#u197-4,#u190-4,#u183-4
{
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u312-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-left: 550px;
	margin-top: 10px;
	position: relative;
}

#u1265
{
	z-index: 103;
	width: 500px;
	min-height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 552px;
	margin-top: 3px;
	position: relative;
}

#tab-panelu374
{
	z-index: 57;
	width: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 551px;
	margin-top: 6px;
	position: relative;
}

#u388
{
	z-index: 58;
	width: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u389
{
	z-index: 59;
	width: 152px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #1F8CAF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u389:hover
{
	background-color: #FEDE46;
	width: 152px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u392
{
	z-index: 61;
	height: 20px;
	width: 152px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../images/u392.png") no-repeat 0px 0px;
}

#u389:hover #u392
{
	background: url("../images/u392-r.png") no-repeat 0px 0px;
}

#u389.TabbedPanelsTabSelected #u392
{
	background: url("../images/u392-a.png") no-repeat 0px 0px;
}

#u393
{
	z-index: 64;
	width: 152px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #1F8CAF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u393:hover
{
	background-color: #FEDE46;
	width: 152px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u389.TabbedPanelsTabSelected,#u393.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FEDE46;
	border-radius: 0px;
	width: 152px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u396
{
	z-index: 66;
	height: 20px;
	width: 152px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../images/u396.png") no-repeat 0px 0px;
}

#u393:hover #u396
{
	background: url("../images/u396-r.png") no-repeat 0px 0px;
}

#u393.TabbedPanelsTabSelected #u396
{
	background: url("../images/u396-a.png") no-repeat 0px 0px;
}

#u397
{
	z-index: 69;
	width: 153px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #1F8CAF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u397:hover
{
	background-color: #FEDE46;
	width: 153px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u397.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #FEDE46;
	border-radius: 0px;
	width: 153px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u400
{
	z-index: 71;
	height: 20px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../images/u400.png") no-repeat 0px 0px;
}

#u397:hover #u400
{
	background: url("../images/u400-r.png") no-repeat 0px 0px;
}

#u397.TabbedPanelsTabSelected #u400
{
	background: url("../images/u400-a.png") no-repeat 0px 0px;
}

#u375
{
	z-index: 74;
	width: 455px;
	background-color: transparent;
	position: relative;
}

#u384
{
	z-index: 75;
	width: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 6px;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
}

#u413-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 13px;
}

#u542
{
	z-index: 80;
	width: 384px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 16px;
}

#u380
{
	z-index: 82;
	width: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 6px;
	padding-bottom: 38px;
	margin-right: -10000px;
	position: relative;
}

#u381-8
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 13px;
}

#u539
{
	z-index: 91;
	width: 384px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 17px;
}

#u376
{
	z-index: 93;
	width: 455px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 6px;
	padding-bottom: 66px;
	margin-right: -10000px;
	position: relative;
}

#u414-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 186px;
}

#u436
{
	z-index: 98;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 135px;
	background: transparent url("../images/telefone-u436-fr.png") no-repeat left top;
	background-size: contain;
}

#u443
{
	z-index: 99;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
	background: transparent url("../images/facebook-u443-fr.png") no-repeat left top;
	background-size: contain;
}

#u455
{
	z-index: 100;
	width: 40px;
	height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 80px;
	background: transparent url("../images/youtube-u455-fr.png") no-repeat left top;
	background-size: contain;
}

#u536
{
	z-index: 101;
	width: 384px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 23px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1268
{
	z-index: 49;
	width: 1016px;
	margin-left: 22px;
	top: -20px;
	margin-bottom: -20px;
}

#u1164
{
	z-index: 51;
	width: 12px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u125
{
	z-index: 50;
	width: 1000px;
	height: 75px;
	margin-right: -10000px;
	left: 16px;
}

#u1103
{
	z-index: 47;
	width: 192px;
	margin-left: 450px;
	top: -3px;
	margin-bottom: -3px;
}

body
{
	position: relative;
	min-width: 1064px;
}

#page .verticalspacer
{
	clear: both;
}

